
.mainContainer{
  display: flex;
  justify-content: space-around;
}

.sectionTitle{
  margin-left: 8%;
  margin-top: 10px;
  margin-bottom: 5px;
}
 
.topBar{
  display: flex;
  justify-content:space-between;
  border: 2px solid;
  width: 40vw; 
  padding: 15px;
}

.topBox{
  margin-top: 10px;
}

.user{
  width: 100%;
  border: 2px solid red;
}
.user>p{
  margin-top: -20px;
  font-size: 18px;
}

.userDetails{
  border: 2px solid blue;
  font-size: 12px;
 
} 
.contact{
 letter-spacing: 3px;
 font-size: larger;
} 
.expTitle{
  letter-spacing: 2px;
  margin-bottom: -30px;
  margin-top: 42px;
  letter-spacing: 2px;
  margin-left: 50.4%;
  margin-bottom: -35px;
  border: 2px solid purple;
  width: 40.7vw;
  padding-left: 20px;
}
.eduTitle{
  letter-spacing: 2px;
  margin-left: 50.3%;
  margin-bottom: -35px;
  border: 2px solid purple;
  width: 40.7vw;
  padding-left: 20px;
}
.desc{
  width: 40vw; 
  border: 2px solid red;
  margin-top: -3px;
  padding: 15px;
}

.wholeSection{
  width: 40vw;
  border: 2px solid purple;
  padding: 15px;
  height: 10vh;
}
.eduSection{
  margin-top: -55px;
}
.wrapper{
  display: flex;
  justify-content: space-between;
}
.wrapper>section{
  display: flex;
}
.location{
  margin-right: 5px;
  padding-right: 5px;
  border-right: 2px solid;
}
.doj,.doe{
  padding: 0px 5px 0px 5px;
}

.informationContainer{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.addBtn{
  margin-left: 8%;
  margin-top: 5px;
}

.deleteBtn{
  margin-left: 1%;
}

.experience{
  margin-top: -60px;
}

.education{
  margin-top: -0px;
}