body{
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.mainContainer{
  display: flex;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
}

.input{
  border: 1px solid black;
  width: 35vw; 
  padding: 1% 2% 1% 2%;
  border-radius: 10px;
}

.output{
  border: 2px solid black;
  width: 40vw; 
  padding: 0.5% 2% 0.5% 2%;
  /* height: min(90vh); */
}
.topBar{
  display: flex;
  justify-content:space-between;
  border-bottom: 2px solid rgb(131, 12, 152);
  margin: auto;
}

.user{
  width: 100%;
}

.name{
  letter-spacing: 2px;
  font-weight: 900;
}

.user>p{
  margin-top: -20px;
  font-size: 18px;
}

.userDetails{
  font-size: 12px;
} 
.contact{
 letter-spacing: 2px;
 margin-bottom: 10px;
 font-size: larger;
 font-weight: 700;
} 
.expTitle{
  letter-spacing: 2px;
  font-weight: 700;
}
.eduTitle{
  letter-spacing: 2px;
  margin-top: 40px;
  font-weight: 700;
}
.expSection{
  height: 10vh;
}
.eduSection{
  height: 5vh;
}
.wrapper{
  display: flex;
  justify-content: space-between;
}
.wrapper>section{
  display: flex;
}
.location{
  margin-right: 5px;
  padding-right: 5px;
  border-right: 2px solid;
}
.title{
  font-weight: 700;
}
.doj,.doe{
  font-weight: 700;
  padding: 0px 5px 0px 5px;
}
.textBox{
  height: 12vh;
}

.informationContainer{
  display: flex;
  flex-direction: column;
}
.informationContainer>input, textarea{
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
}
.endBox{
  margin-bottom: 5px;
}
.sectionContainer{
  display: flex;
}

.addBtn{
  margin-top: 5px;
}
.deleteBtn{
  margin-left: 1%;
}

.topBox{
  margin-top: 5px;
}
.sectionTitle{
  margin-top: 10px;
  margin-bottom: 5px;
}
 